modules = ["web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BeaBoo App"

[[workflows.workflow]]
name = "BeaBoo App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36297
externalPort = 3000

[[ports]]
localPort = 43931
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["python3", "server.py"]
